		  @import  url("Style.css");        
    
	    .about-section{
			margin: 0px;
bottom :0;
            padding: 20px;
            background-img: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
			height: 1500px;;
			width: auto
		}
		.image-container {
			float: left; 
			margin: 0 10px 10px 0;
			width: 50%;
		  }
		img {
			max-width: 100%; 
			height: auto; 
			display: block; 
			margin: 10px;
			margin-left: 0%;
		  }
		p{
		font-size: 32px;	
		}