 body {
    font-family: 'Calibri';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4a0072;
    background-size: cover; 
    background-position: center;
    color: #333;
}

header {
    background-image: url('../imgs/bikes.png');
    background-size: cover; 
    background-position: center;
    text-shadow: 2px 2px #ee7aff;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    min-height: 50px; 

     position: relative;
    z-index: 1; 
    overflow: hidden;
    height: 150px; 

}

/* Other styles remain the same */

		
		h2{
		color:black;
		text-shadow : 2px 2px #ee7aff;
		font-size:50px;
        text-align : Center;
		}

        

        section {
            margin: 10px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
			height:auto;
			width: auto;
        }

        section:hover {
            transform: scale(1.01);
        }

      

		area {
         display: none;
        }

        #schedule, #about-us, #contact, #membership, #special-events, #faq {
            margin-top: 40px;
        }

       
		 #banner img {
            width: 100%;
            height: 700px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        #instructor img{
            width: 300px;
            height: 400px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin-right: 0%;
            margin-left: 0%;
            

        }

        .faq-item {
            margin-bottom: 20px;
        }

iframe {
   margin:0;
    width: 100%;
    border: none; 
}


